{% extends 'GDAdminBundle:Default:default_layout.html.twig' %}
{% form_theme form 'GDAdminBundle:Form:form_detail_div_layout.html.twig' %}
{% block form %}
    
        <h1 class="title">{% trans %}changepassword.title.text{% endtrans %}</h1>

        <form action="{{ path('gd_admin_change_password') }}" {{ form_enctype(form) }} method="post" id="changePassword">
            {% if form.vars.errors|length > 0 %}
                <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <div class="sonata-ba-collapsed-fields">
                {{ form_label(form.current) }}
                {{ form_widget(form.current) }}
                <div style="clear:both"></div>
                
                {{ form_row(form.new) }}
                <div style="clear:both"></div>

                {{ form_rest(form)}}
            </div>
            
            <div class="actions">
                <input type="submit" class="btn primary" value="{% trans %}changepassword.submitbutton.text{% endtrans %}" >
            </div>
           
        </form>
    
{% endblock %}
