{% extends 'GDSiteBundle::layout.html.twig' %}
{% block title %}{% trans %}changepassword.title.text{% endtrans %}{% endblock %}
{% form_theme form 'GDSiteBundle:Form:form_detail_div_layout.html.twig' %}
{% block content %}
<div class="inner">
    {{ wo_render_breadcrumbs() }}
    <div class="content">
        {% include 'GDSiteBundle::sidebar.html.twig' %}
        <div class="rightnavi">
            <h1 class="title">{% trans %}changepassword.title.text{% endtrans %}</h1>
            
            <form action="{{ path('gd_user_change_password') }}" {{ form_enctype(form) }} method="POST">
                <div class="form">                  
                  <div class="form_layers floated1">
                          {{ form_label(form.current) }}
                          {{ form_widget(form.current) }}                     
                          {{ form_errors(form) }}
                   <div class="clr"></div>
                   </div>
                   <div class="form_layers floated1">
                        {{ form_row(form.new) }}
                        <div class="clr"></div>
                   </div>
                   <div class="form_layers floated1">
                    <span class="popuplt_btn link">
                            <input type="submit" class="popuprt_btn" value="{% trans %}changepassword.submitbutton.text{% endtrans %}" >
                    </span>
                   </div>
                    {{ form_rest(form)}}
                 </div>
            </form>
        </div>
        <div class="clr"></div>
    </div>
</div>
<div class="bottom_rounded"></div>
{% endblock %}
