{% extends 'GDSiteBundle::layout.html.twig' %}
{% block title %}{% trans %}checkpassword.title.text{% endtrans %}{% endblock %}
{% block content %}
    <div class="inner">
        {{ wo_render_breadcrumbs() }}
        <div class="content">
            {% include 'GDSiteBundle::sidebar.html.twig' %}
            <div class="rightnavi">
                <h1 class="title">{% trans %}checkpassword.title.text{% endtrans %}</h1>
                <form action="{{ path('gd_validate_password') }}" method="post">
                   <div class="form">                       
                       <div class="form_layers floated1">
                            {{ form_label(form.current) }}
                            {{ form_widget(form.current) }}                     
                            {{ form_errors(form) }}      
                            <div class="clr"></div>                            
                       </div>
                       <div class="form_layers floated1">
                         <span class="popuplt_btn link">
                            <input type="submit"  class="popuprt_btn" value="{% trans %}checkpassword.submitbutton.text{% endtrans %}">
                         </span>
                       </div>           
                   </div>
                    {{form_rest(form)}}
                </form>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="bottom_rounded"></div>
{% endblock %}
