{% extends 'GDSiteBundle::layout.html.twig' %}
{% block title %}{% trans %}passwordreset.htmltitle.text{% endtrans %}{% endblock%}
{% form_theme form 'GDSiteBundle:Form:form_detail_div_layout.html.twig' %}
{% block content %}
<div class="inner">
    <div class="content">
        <div class="rightnavi">
            <h1 class="title">{% trans %}passwordreset.title.text{% endtrans %}</h1>
            {{ form_errors(form) }}
            <form action="{{ path('gd_site_user_resetting_confirm', { 'confirmationToken': app.request.get('confirmationToken') }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
            <div class="form">
                <div class="form_layers floated1">
                    {{ form_row(form.plainPassword) }}
                    <div class="clr"></div>
                    {{form_rest(form)}}
                </div>
                <div class="form_layer floated1">
                     <span class="popuplt_btn link">
                            <input id="normal_font" type="submit" class="popuprt_btn"  value="{% trans %}passwordreset.submitbutton.text{% endtrans %}">
                      </span>
                </div>
                <div class="clr"></div>
            </div>
            </form>
       </div>
        <div class="clr"></div>
    </div>
</div>
<div class="bottom_rounded"></div>
{% endblock %}