{% form_theme form 'GDSiteBundle:Form:form_ajax_div_layout.html.twig' %}
<form action="{{ path('gd_site_user_registration') }}" method="POST" id="home-register-form">
   <div class="form">
       <div class="form_layer floated1">
            {{ form_row(form.salutation) }}
        </div>
        <div class="form_layer floated1">
            {{ form_row(form.username) }}
            <div class="clr"></div>
        </div>
        <div class="form_layer floated1">
            {{ form_row(form.plainPassword) }}
            <div class="clr"></div>
        </div>
        <div class="form_layer floated2">
            {{ form_row(form.email) }}
            <div class="clr"></div>
        </div>
        <div class="form_layer lay1">            
            {{ form_row(form.hasAcceptedTermsAndConditions,{'label': 'ajaxregister.readterms.text' |trans |raw }) }}
            &nbsp;
            {% spaceless %}
            <a class="terms" href="{{path('gd_tnc')}}" target="_blank">{% trans %}ajaxregister.termslink.text{% endtrans %}</a>
            {% endspaceless %} 
            
        </div>
        <span class="hpRegButton popuplt_btn homepage_reg_popuplt_btn link">
          <input id="normal_font" type="submit" class="popuprt_btn" name="register" value="{% trans %}ajaxregister.registerbutton.text{% endtrans %}">
        </span>
    </div>
</form>
